body {
    background-size: cover;
    background-image: url("../../../public/Spacerig.png");
    margin: none;
}

@font-face {
    font-family: Bungee;
    src: url("../../../public/Bungee-Regular.ttf");
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#page > h1 {
    color: #ffe400;
    font-size: 5em;
    font-family: Bungee;
    text-shadow: 4px 8px 8px #8b3505;
    margin: 0 .25em;
}

#page > img {
    width: 7.5em;
}

#page:hover {
    border-color: #ffe400;
    cursor: pointer;
    width: 50%;
    height: 58vh;
}

#page {
    background-color: rgba(0, 0, 0, 0.653);
    width: 49%;
    margin: .5em;
    height: 55vh;
    border-top: .25em solid #f89a00;
    border-bottom: .25em solid #f89a00;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}