:root {
    --font-size: 16px;
    --title-shadow: calc(var(--font-size)/4) calc(var(--font-size)/2) calc(var(--font-size)/2) var(--brown);
    --yellow: #ffe400;
    --orange: #f89a00;
    --brown: #8b3505;
}

@font-face {
    font-family: Bungee;
    src: url("../../../public/Bungee-Regular.ttf");
}

/* @media only screen and (max-width: 900px) {
    .main {
        display: block;
    }

    #page {
        width: 100vw;
    }


} */

body {
    background-size: cover;
    background-image: url("../../../public/Spacerig.png");
    font-size: var(--font-size)
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#page > h1 {
    color: var(--yellow);
    font-size: 4vw;
    font-family: Bungee;
    text-shadow: var(--title-shadow);
    margin: 0 .25em;
}

#page > img {
    width: 6vw;
}

#page:hover {
    border-color: var(--yellow);
    cursor: pointer;
    width: 50%;
    height: 58vh;
}

#page {
    background-color: rgba(0, 0, 0, 0.653);
    width: 49%;
    margin: .5em;
    height: 55vh;
    border-top: .25em solid var(--orange);
    border-bottom: .25em solid var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    text-decoration: none;
}