h1 {
    color: blueviolet;
    text-align: center;
}

p {
    text-align: center;
    color: #FF10F0;
}

div > div {
    background-color: #C0997F;
    width: 60%;
    margin: 2em auto;
    height: 94vh;
    border-radius: 1em;
}

body {
    background-color: beige;
}